<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Pesan Tiket</title>
<!-- for-mobile-apps -->

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->

<!-- //custom-theme -->
<link href="https://trinanda.github.io/template_irwan/electrical_service_form-web/css/style.css" rel="stylesheet" type="text/css" media="all" />

<!-- js -->
<script type="text/javascript" src="https://trinanda.github.io/template_irwan/electrical_service_form-web/js/jquery-2.1.4.min.js"></script>
<!-- //js -->

<!-- google fonts -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- google fonts -->

</head>

<body>
<!-- banner -->
	<div class="center-container">
	<div class="banner-dott">
		<div class="main">
				<div class="w3layouts_main_grid">
				<h1 class="w3layouts_head">Metode Pembayaran</h1>
					<form action="#" method="post" class="w3_form_post">

						<div>
						<!--<h1 style="text-align: left;">-->
							<!--<p style="text-transform: None;">Berikut adalah ketentuan metode pembayaran di Irwan Fish :</p>-->
						<!--</h1>-->
                            <h3 style="text-transform: None;"><b>Berikut adalah ketentuan metode pembayaran di Nadia Tiket:</b></h3>
                            <br>
								<ol type="1" style="text-transform: None;">
									<li>1. Transaksi Pembayaran dapat kami lakukan dalam dua bentuk yaitu Cash maupun Transfer</li><br>
									<li>2. Anda bisa langsung melakukan pembayaran di loket</li><br>
									<li>3. Untuk Pembayaran Transfer dapat ditujukan langsung ke nomor rekening 8732431223 a.n BRI PT Nadia Tiket</li><br>
									<li>4. Detail lebih lanjut tentang ketentuan pembayaran akan dijelaskan oleh tim customer service kami saat pemesanan sudah anda lakukan.</li>
								</ol>
					</div>

					<div class="w3_main_grid">
						<div class="w3_main_grid_right">
							<input type="submit" value="Ok">
						</div>
					</div>
				</form>
			</div>

		<!-- Calendar -->
			<link rel="stylesheet" href="https://trinanda.github.io/template_irwan/electrical_service_form-web/css/jquery-ui.css" />
				<script src="https://trinanda.github.io/template_irwan/electrical_service_form-web/js/jquery-ui.js"></script>
					<script>
						$(function() {
							$( "#datepicker" ).datepicker();
						});
					</script>
		<!-- //Calendar -->


		</div>
	</div>
	</div>
<!-- //footer -->

</body>
</html>