<link rel="stylesheet" href="{{ url_for('static', filename='tour/css/keberangkatan.css') }}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <div class="container-fluid" style="background-color:#e8e8e8">
        <div class="container container-pad" id="property-listings">

            <div class="row">
              <div class="col-md-12">
                <h1>Pilih Bis</h1>
                <!--<p>A snippet I recently used to display homes for a local brokerage.  Focused more on images when accessed through mobile</p>-->
              </div>
            </div>

            <!-- FOR -->
            <!-- FOR -->
            <!-- FOR -->

{% for RUTES in URUTAN_TAMPILAN %}

            <form method="get" action="{{ url_for('pastikan_harga') }}">
            <!--<form method="get" action="http://localhost:35250/pastikan_harga/{{ RUTES.id_rute }}">-->
            <div class="row">
                <div class="col-sm-6">

                    <!-- Begin Listing: 609 W GRAVERS LN-->
                    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" href="#" target="_parent">
                            <!--<img alt="image" class="img-responsive" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg"></a>-->

                            <div class="clearfix visible-sm"></div>

                            <div class="media-body fnt-smaller">
                                <a href="#" target="_parent"></a>

                                <h4 class="media-heading">
                                    <a href="#" target="_parent"><h3>PO. Sarah</h3><small class="pull-right"></small></a></h4>


                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>Rp.{{ RUTES.ongkos }},00 / orang</li>

                                    <li style="list-style: none">|</li>

                                    <li>{{ RUTES.tanggal_keberangkatan }}</li>

                                    <li style="list-style: none">|</li>

                                    <li>{{ RUTES.jam }}</li>
                                </ul>

                                <p class="hidden-xs">{{ RUTES.dari }} ===> {{ RUTES.tujuan }}</p>
                                <input type="hidden" name="id_rute" value="{{ RUTES.id_rute }}"> </input>
                                <!--<span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox & Roach-Chestnut Hill-->
                                <!--Evergreen</span>-->
                            </div>
                                <input type="submit" value="Pilih Bis" style="float: right;" class="btn btn-primary btn-lg">
                        </div>

                    </div><!-- End Listing-->

                </div><!-- End Col -->
            </div><!-- End row -->
</form>
{% endfor %}
            <!--END FOR-->
            <!--END FOR-->
            <!--END FOR-->

        </div><!-- End container -->
    </div>